<!DOCTYPE html>
<html> 
        <head> 
                <meta charset="UTF-8">
                <title>Something</title> 
                <link rel="stylesheet" href="style.css"> 
        </head> 

        <body> 

                <div id="camera">
                        <video autoplay></video>

                <script>
                const constraints = {
                        video: true
                };
                
                const video = document.querySelector('video');

                nevigator. mediaDevices.getUserMedia(constraints).
                    then((stream) => {video.srcObject = stream});
                </script>
                </div>

                <div id="searchParameters">
                <p> this is the list of options for vegans or other idiots </p> 
                </div>

                <input class="button" id="button" type="button" value="Search"></input>
                <script src="script.js" type="text/javascript"></script>
        </body> 
</html> 


