<!DOCTYPE html>
<html> 
        <head> 
                <meta charset="UTF-8">
                <title>Something</title> 
                <link rel="stylesheet" href="style.css"> 
        </head> 

        <body> 

                <div id="camera">
                        <video id="video" width="640" height="480" autoplay></video>
                        <button id="snap">Take Photo</button>
                        <canvas id="canvas" width="640" height="480"></canvas>
                </div>

                <div id="searchParameters">
                <p> this is the list of options for vegans or other idiots </p> 
                </div>

                <input class="button" id="button" type="button" value="Search"></input>
                <script src="script.js" type="text/javascript"></script>
        </body> 
</html> 


