<!DOCTYPE html>
<html> 
        <head> 
                <meta charset="UTF-8">
                <title> Awesome Recipe Finder </title> 
                <link rel="stylesheet" href="style.css"> 
        </head> 

        <body> 
        <div id="body">
                <p class="photoPrompt"> Tell us what you want to make <p>
                <form>
                <input class="input" type="text" name="foodID">
                </form>
<br><br><br><br>

<!--No time for options

                <div id="searchParameters">
                    <p class="options"> Looking for something specific? <p>
                    <select multiple size="3" id="parameters">
                            <option value="vegan">Vegan</option>
                            <option value="dairyFree">Dairy Free</option>
                            <option value="noNuts">No Nuts</option>
                    </select>
                    <p class="options2"> (CTRL + click to select multiple) <p>
                </div>

<br><br><br><br><br>

-->

               <input class="button" id="button" type="button" value="Search"></input> 
        </div>
        </body> 
</html> 





